:root {
  background: #000000 none no-repeat scroll 0 0;
  color:#59758e;
  font-family: 'retro_gaming';
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  line-height: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.mainMenu {
  border: 5px dashed #A4A19D;
  border-radius: 22px;
  padding:10em
}

@font-face {
  font-family: 'retro_gaming';
  src: local('retro_gaming'), url(./fonts/retro_gaming.ttf) format('truetype');
}

.total_msgs {
  position: absolute;
  bottom: 0;
  text-align:center;
}

@keyframes loading {
  
}