:root {
  background: #000000 none no-repeat scroll 0 0;
  color:#59758e;
  font-family: 'retro_gaming';
}

#magic1 {
  background-image: url("cloud.png");
  background-size: cover;
  size: 300px;
  padding: 50px;
  margin: 10px 50px 10px 50px;
  image-rendering: pixelated;
  border-radius: 10px;
}

#magic2 {
  background-image: url("brujula.png");
  background-size: cover;
  size: 300px;
  padding: 50px;
  margin: 10px 50px 10px 50px;
  image-rendering: pixelated;
  border-radius: 10px; 
}

#magic3 {
  background-image: url("chain.png");
  background-size: cover;
  size: 300px;
  padding: 50px;
  margin: 10px 50px 10px 50px;
  image-rendering: pixelated;
  border-radius: 10px;  
}

#magic1:focus{
  border: 5px dashed #A4A19D;
  border-radius: 22px;
  border-color: greenyellow;
}

#magic2:focus{
  border: 5px dashed #A4A19D;
  border-radius: 22px;
  border-color: whitesmoke;
}

#magic3:focus{
  border: 5px dashed #A4A19D;
  border-radius: 22px;
}

#homebutton {
  text-align: center;
  justify-content: center;
  margin: 50px;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  line-height: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#error {
  font-size: 60px;
  color: red;
}

footer {
  text-align: center;
  justify-content: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  border: whitesmoke;
}

.mainMenu {
  border: 5px dashed #A4A19D;
  border-radius: 22px;
  padding:10em
}

.mainMenu:focus {
  color: green;
}

@font-face {
  font-family: 'retro_gaming';
  src: local('retro_gaming'), url(./fonts/retro_gaming.ttf) format('truetype');
}

@font-face {
  font-family: 'Moms_typewriter';
  src: local('Moms_typewriter'), url(./fonts/Moms_typewriter.ttf) format('truetype');
}

.total_msgs {
  position: flex;
  bottom: 0;
  text-align:center;
}

.choosemagic {
  display: block grid;
  border: 5px dashed #A4A19D;
  border-radius: 22px;
  padding: 1em;
  float: right;
  margin: 1em;
}

.sendMailPage {
  display: block;
  border: 5px dashed #A4A19D;
  border-radius: 22px;
  padding: 1em;
}

#crystalball {
  float: left;
  padding: 1em;
  image-rendering: pixelated;
  width: 120%;
}

.about_text {
  font-family: 'Moms_typewriter';
  background-color: rgb(210, 230, 240);
  color: black;
  margin: 3em;
  text-wrap: pretty;
  border-radius: 13px;
  padding: 4em;
  line-height: 2em;
}



